.increment{
  display: flex;
  align-items: center;
}

.inccontainer{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.increment button {
  margin: 0 50px; /* Adjust the value to increase or decrease the space */
}
